# ===== Global =====
# Ignore everything
*
# Allow directory traversal
!*/
# Repository files
!/.gitignore
!/README.md
# R project files
!/*.Rproj
/.Rproj.user
/.Rhistory
/.RData
/.Ruserdata
# shinyapps.io files
/rsconnect/
/.rscignore
# ===== Project =====
!/deploy/
!/deploy/**
!/www/
!/www/**
/www/TVCurve_1080p.mp4
!/server.R
!/ui.R
!/auth_example.txt
# ===== OS =====
.DS_Store
